{% extends 'base.html' %}

{% block title %}Home |{% endblock title %}

{% block content %}
<main id="main">

    <!-- ======= Hero Slider Section ======= -->
    <section id="hero-slider" class="hero-slider">
      <div class="container-md" data-aos="fade-in">
        <div class="row">
          <div class="col-12">
            <div class="swiper sliderFeaturedPosts">
              <div class="swiper-wrapper">
              {% for s in slider %}
                <div class="swiper-slide">
                  <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('{{s.image.url}}');">
                    <div class="img-bg-inner">
                      <h2>{{s.title | safe }}</h2>
                      <p>{{s.description | safe}}</p>
                    </div>
                  </a>
                </div>
              {% endfor %}
              
              </div>
              <div class="custom-swiper-button-next">
                <span class="bi-chevron-right"></span>
              </div>
              <div class="custom-swiper-button-prev">
                <span class="bi-chevron-left"></span>
              </div>

              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Hero Slider Section -->

    <!-- ======= Post Grid Section ======= -->
    <section id="posts" class="posts">
      <div class="container" data-aos="fade-up">
        <div class="row g-5">
          <div class="col-lg-4">
            {% for blog in blogs %}
            <div class="post-entry-1 lg">
              <a href="{% url 'Blog-SinglePost' blog.uuid%}"><img src="{{blog.image.url}}" alt="" class="img-fluid"></a>
              <div class="post-meta"><span class="date">{{blog.category}}</span> <span class="mx-1">&bullet;</span> <span>{{b.created_at}}</span></div>
              <h2><a href="{% url 'Blog-SinglePost' blog.uuid %}">{{blog.title}}</a></h2>
              <p class="mb-4 d-block">{{blog.description }}</p>
              

              <div class="d-flex align-items-center author">
                 <div class="photo"><img src="{{blog.image.url}}" alt="" class="img-fluid"></div> 
                <div class="name">
                  <h3 class="m-0 p-0">{{request.user}}</h3>
                </div>
              </div>
            </div>
            {% endfor %}
         

          </div>
          <div class="col-lg-8">
            <div class="row g-5">
              <div class="col-lg-4 border-start custom-border">
                {% for blog in blogs %} 
                 

                <div class="post-entry-1">
                  <a href="{% url 'Blog-SinglePost' blog.uuid %}"><img src="{{blog.image.url}}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{blog.category}}</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                  <h2><a href="{% url 'Blog-SinglePost' blog.uuid %}">Let’s Get Back to Work, New York</a></h2>
                </div>
                {% endfor %} 
              </div>
              
          
                

              <!-- Trending Section -->

              <div class="col-lg-4">

                <div class="trending">
                  <h3>Trending</h3>
                  <ul class="trending-post">
                    {% for blog in blogs %}
                    <li>
                      <a href="single-post.html">
                      <span class="number">{{blog.category}}</span>
                        <h3>{{blog.title}}</h3>
                        <span class="author">{{request.user}}</span>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>

              </div> 


              <!-- End Trending Section -->
            </div>
          </div>

        </div> <!-- End .row -->
      </div>
    </section> <!-- End Post Grid Section -->

    <!-- ======= Culture Category Section ======= -->

    {% for cat  in category %}    
    <section class="category-section">
      
      <div class="container" data-aos="fade-up">

        <div class="section-header d-flex justify-content-between align-items-center mb-5">
          <h2>{{cat.title}}</h2>
          <div><a href="{% url 'Blog-Category' cat.uuid %}" class="more">See All {{cat.title}}</a></div>
        </div>

        <div class="row">


        {% comment %} {% for  b  in blogs %}
          <div class="col-md-9">
            {% if  forloop.first  %}
            <div class="d-lg-flex post-entry-2">
              <a href="{{b.title}}" class="me-4 thumbnail mb-4 mb-lg-0 d-inline-block">
                <img src="{{b.image.url}}" alt="" class="img-fluid">
              </a>
              <div>
                <div class="post-meta"><span class="date">{{b.category}}</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h3><a href="{% url 'Blog-SinglePost' b.uuid%}">{{b.title}}</a></h3>
                <p>{{b.description}}</p>
                <div class="d-flex align-items-center author">
                  <div class="photo"><img src="{{b.image.url}}" alt="" class="img-fluid"></div>
                  <div class="name">
                    <h3 class="m-0 p-0">{{b.user}}</h3>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

            <div class="row">


              {% if forloop.second  %}
              <div class="col-lg-4">
                <div class="post-entry-1 border-bottom">
                  <a href="{% url 'Blog-SinglePost' b.uuid %}"><img src="{{b.image.url}}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{b.category}}</span> <span class="mx-1">&bullet;</span> <span>{{b.created_at}}</span></div>
                  <h2 class="mb-2"><a href="single-post.html">{{b.title}}</a></h2>
                  <span class="author mb-3 d-block">{{request.user}}n</span>
                  <p class="mb-4 d-block">{{b.description}}</p>
                </div>
                {% endif %}
              {% if forloop.second  %}


                <div class="post-entry-1">
                  <div class="post-meta"><span class="date">{{b.category}}</span> <span class="mx-1">&bullet;</span> <span>{{b.created_at}}</span></div>
                  <h2 class="mb-2"><a href="single-post.html">{{b.title}}</a></h2>
                  <span class="author mb-3 d-block">{{request.user}}</span>
                </div>
              </div>
              {% endif %}

              


              {% if foorloop.last %}  

              <div class="col-lg-8">
                <div class="post-entry-1">
                  <a href="{% url 'Blog-SinglePost' b.uuid %}"><img src="{{b.image.url}}" alt="" class="img-fluid"></a>
                  <div class="post-meta"><span class="date">{{b.category}}</span> <span class="mx-1">&bullet;</span> <span>{{blog.created_at}}</span></div>
                  <h2 class="mb-2"><a href="{% url 'Blog-SinglePost' b.uuid %}">{{b.description}}</a></h2>
                  <span class="author mb-3 d-block">{{request.user}}</span>
                  <p class="mb-4 d-block">{{b.description}}</p>
                </div>
              </div>
              {% endif %}

             

            </div>
          </div>

        {% endfor %}  {% endcomment %}
          {% for b in blogs %}
          {% if blog.category_id == cat.id %}
          <div class="col-md-3">
            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">{{b.category}}</span> <span class="mx-1">&bullet;</span> <span>{{b.created_at}}</span></div>
              <h2 class="mb-2"><a href="{% url 'Blog-SinglePost' b.uuid %}">{{b.title}}</a></h2>
              <span class="author mb-3 d-block">{{request.user}}</span>
          </div> 
          {% endif %}
          {% endfor %}
         

            {% comment %} <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">9 Half-up/half-down Hairstyles for Long and Medium Hair</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">Life Insurance And Pregnancy: A Working Mom’s Guide</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">The Best Homemade Masks for Face (keep the Pimples Away)</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div>

            <div class="post-entry-1 border-bottom">
              <div class="post-meta"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
              <h2 class="mb-2"><a href="single-post.html">10 Life-Changing Hacks Every Working Mom Should Know</a></h2>
              <span class="author mb-3 d-block">Jenny Wilson</span>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    </section><!-- End Culture Category Section -->
    {% endfor %}
  

</main>
{% endblock content %}